<!-- Versionning --> 
<!--
    Page        : 'C'
    Version     : '1.0.0'
    Date        : '14.08.24'
    Auteur      : 'MBU'
    Description : 'Page C'
-->
<!--
ChangeLog  14.08.24 | 1.0.0 MBU : Création d'un header simple
ChangeLog  14.08.24 | 1.0.1 MBU : Amélioration de la structure des fichiers
ChangeLog  14.08.24 | 1.0.2 MBU : Amélioration du contenu visuel avec CSS
ChangeLog  14.08.24 | 1.0.3 MBU : Création d'un footer
-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page C</title>
    <link href="../styles/styles.css" rel="stylesheet">

    <!-- Ici se trouve le header (aussi certaines fois appelé navbar) qui est utilisé pour la navigation entre les pages -->
    <nav class="navigation">
        <h1> Navigation | Header</h1>
            <ul>
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="a.html">Page A</a></li>
                <li><a href="b.html">Page B</a></li>
                <li><a href="c.html">Page C</a></li>
                <li><a href="d.html">Page D</a></li>
            </ul>
    </nav>
</head>
<body>
    <div class="content">
    <!-- Contenu de la page -->
    <h1>Ceci est la page C</h1>
    <p>Cliquez ci-dessous pour aller à la page D.</p>
    <a href="d.html">Aller à la Page D</a>
    </div>
</body>
<footer>
    <h2> Footer </h1>
</footer>
</html>
